<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My first view</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

  <h1>Este podría ser yo</h1>
<img src="/images/misifus.jpeg" />

 
</body>
</html>